<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Callback</servlet-name>
        <servlet-class>web.Callback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterLogin</servlet-name>
        <servlet-class>web.TwitterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TwitterLogout</servlet-name>
        <servlet-class>web.TwitterLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchTweets</servlet-name>
        <servlet-class>web.FetchTweets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnalyzeTweets</servlet-name>
        <servlet-class>web.AnalyzeTweets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Callback</servlet-name>
        <url-pattern>/callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterLogin</servlet-name>
        <url-pattern>/twitter-login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TwitterLogout</servlet-name>
        <url-pattern>/twitter-logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchTweets</servlet-name>
        <url-pattern>/fetch_tweets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnalyzeTweets</servlet-name>
        <url-pattern>/analyze_tweets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
